* {
    margin: 0;
    padding: 0;
    outline:0;
    box-sizing: border-box;
}
h1{
    font-size: 4rem;
    color: hsl(240, 29%, 34%);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}
header{
    width: 100;
    height: 100;
    background-color: red;
    background-image: url(https: /dummyimage.com/ 2000ex 1000px;);
}
